body {
    background-image: url(../images/Butterfly-Wallpaper-Animated.jpg);
    background-size: 100%;
}

.container {
    background-color: aqua;
    margin-top: 5%;
    padding: 1%;
    /* height: 720px; */
}

.jumbotron {
    margin-top: 15px;
    background-color: darkkhaki; 
}
button {
    margin-top: 2%;
}